
@use "../../consts/styles/colors.scss" as colors;

.rem-temp{
  height: 700px;
}
.rem-timeline-container{
  overflow: hidden;
  position: absolute;
  border-top-style: none;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
  background: linear-gradient(to bottom, #ffffff, #f5f5f5);
  // transition: all 0.2s ease-in-out;
  font-family: "Pangea", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: colors.$white;
  left: 0px;
  max-height: 0px;
  transition: max-height 1.5s ease-in-out, opacity 0.2s ease-in-out;
}

.rem-timeline-container.show-timeline {
  max-height: 700px;
}

.rem-timeline-container.hide-timeline{
  height: 0;
}

//Event 
.rem-timeline-event-container {
  padding: 3px;
}

.rem-timeline-event-title {
  font-size: 18px;
  margin-bottom: -10px;
}

.rem-timeline-event-description {
  color: colors.$dark-grey;
  font-size: 18px;
  margin-bottom: -10px;
}

.rem-timeline-event-previous-description{
  color: colors.$red;
  font-size: 14px;
  text-decoration: line-through;
}

.rem-timeline-event-previous-description.hide-previous-description {
  visibility: hidden;
  height: 0;
}

.rem-timeline-event-previous-description.hide-previous-description:last-child {
  padding-bottom: 10px;
}

//Event Group
.rem-timeline-events-groups-container{
  padding: 3px;
  display: flex;
  flex-direction: row;
}

.rem-timeline-events-group-container{
  padding: 3px;
  border: 3px solid colors.$grey;
  flex-grow: 1;
  border-radius: 5px;
  background-color: colors.$light-grey;
}

.rem-timeline-events-group-date-container{
  padding: 3px;
  min-width: 110px;
}

.rem-timeline-events-group-date-text{
  color: colors.$dark-grey;
  font-size: 18px;
}

.rem-timeline-events-group-line{
  border-left: 5px solid colors.$dark-grey;
  width: 15px;
  position: relative;
}

.rem-timeline-events-group-dot{
  border: 3px solid colors.$dark-grey;
  background-color: colors.$light-grey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position : absolute;
  top: 24px;
  left: -12px;
}