@use "../../consts/styles/colors.scss" as colors;

.rem-listing-subtitle{
  padding-bottom: 3px;
}
.rem-timeline-hide-top{
    position: absolute;
      background-color: colors.$white;
      height: 3px;
      // border: 1px solid blue;
      z-index: 60;
      bottom: 18px;
      left: 0px;
}